@font-face {
  font-family: 'Happy Times Regular';
  src: url('fonts/happy-times-at-the-ikob.otf') format('otf'),
       url('fonts/happy-times-at-the-ikob.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Happy Times Italic';
    src: url('fonts/happy-times-at-the-ikob_italic.otf') format('otf'),
         url('fonts/happy-times-at-the-ikob_italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('fonts/Inter-Regular.otf') format('otf'),
       url('fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Italic';
  src: url('fonts/Inter-Italic.otf') format('otf'),
       url('fonts/Inter-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

* {
  font-weight: normal;
}

p {
  font-family: 'Happy Times Regular';
  font-size: 9.5pt;
  line-height: 1.1;
  margin-top: 8pt;
  margin-bottom: 0;
  text-indent: 18pt;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.first-p {
  padding-top: 6pt;
  text-indent: 0;
}

.last-p {
  font-style: italic;
  text-indent: 0;
}

.left {
  text-align: left;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1.cover {
  text-align: center;
  line-height: .9;
  padding: 2pt 0 30pt;
}

h2.cover {
  text-align: center;
  line-height: .9;
  padding: 10pt 0 320pt;
}

h1 {
  font-family: 'Happy Times Regular';
  font-size: 28pt;
  text-align: left;
}

h2 {
  font-family: 'Happy Times Italic';
  font-style: italic;
  font-size: 18pt;
  padding-top: 6pt;
  padding-bottom: 2pt;
  line-height: .9;
}

h3 {
  font-family: 'Inter Regular';
  font-size: 9pt;
}

li {
  font-family: 'Inter Regular';
  font-size: 9pt;
  padding-top: 4pt;
}

ul, ol {
  padding: 0;
  margin: 0;
  margin-bottom: 40pt;
  margin-top: 40pt;
}

ul li, ul .from-previous {
  list-style-type: none;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: black;
}

.text-centered {
  text-align: center;
  display: block;
}

.white {
  font-family: 'Inter Regular';
  color: white;
  text-indent: 0;
  text-align: justify;
  line-height: 1.2;
}

figure {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

figure img {
  width: 100%;
  height: 100%;
}

.hid {
  display: none;
}

.full {
  font-family: 'Happy Times Regular';
  font-size: 30pt;
  line-height: 1;
  text-indent: 0;
  padding-top: 15pt;
  padding-bottom: 35pt;
  text-align: left;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

sup {
  padding-left: 1pt;
  font-size: 6pt;
}

.📖-running-header {
  font-family: 'Inter Regular';
  font-size: 9pt;
}

.📖-footnote {
  font-family: 'Inter Regular';
  font-size: 8pt;
  margin-bottom: 15pt;
}